@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #0a0a0a; 
    --foreground: #D7D7D7; 
  }
}

@layer utilities {
  /* Oculta la barra de scroll pero mantiene la funcionalidad en ambos ejes */
  .no-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }

  .no-scrollbar {
    -ms-overflow-style: none;  /* IE y Edge */
    scrollbar-width: none;  /* Firefox */
  }
}

body {
  @apply bg-[#0a0a0a] text-altum-gris antialiased;
  min-height: 100vh;
}